body {
    margin: 0;
    background-color: grey;
    
}
#encabezado {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#icono-encabezado {
    padding-top: 5px;
}
#nav-bar>div{
    justify-content: center;
}
h2{
    text-align: center;
}
#nav-bar>div>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li>a{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;

}
li{
    padding-left: 5%;
    padding-right: 5%;
}
ul{
    list-style: none;
}
section{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}
footer{
    background-color: black;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}